<div><blockquote>The solar physicists cared just as much as the official climatologists, about keeping the world safe for their grandchildren.  <span style="background-color:yellow">They said it was rash to suppose that every possible variation in the Sun's output of light had been seen by the satellites in the course of a single solar cycle.  The solar-terrestrial physicists, for their part, pleaded for consideration of other ways in which the Sun might affect the Earth via the solar wind -- auroras, that sort of thing</span>.  They were awfully vague, though, about how it could happen. - p18</blockquote></div>

<div><blockquote>To achieve its remarkable projection of future temperatures, the report had to argue that the global warming of the twentieth century was largely due to carbon dioxide and other greenhouse gases.  The role of the Sun had to be minimized.  The commentary concentrated entirely on changes in the output of radiant energy from the visible disk.  <span style="background-color:yellow">As for the invisible heliosphere that embraced the Earth in the solar wind, and might contain other possible ways of changing the climate, for Houghton's group it did not exist. - p41-42</span></blockquote></div>

Suggested Books

The Electric Universe
Wal Thornhill
http://i.imgur.com/nxJ0IrE.jpg

See more books ...


Audio & Video

Our Changing Climate and the Variable Sun
Space News
http://i.imgur.com/uxDJeFz.jpg

Electric Earth, Electric Weather
Bill Nichols
http://i.imgur.com/gLgOec8.jpg

The Reality of Long Range Weather and Climate Forecasting
Piers Corbyn
http://i.imgur.com/C7HcVLZ.jpg

Our Variable Sun & Climate Change
Bob Johson
http://i.imgur.com/dpohs0T.jpg

See more media ...